.profile-list-container {
  border-top: var(--color-gray-4) solid 1px;
}

.profile-navbar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-navbar > * {
  flex-basis: 80px;
}
