.user-info-container {
  display: flex;
  justify-content: center;
}

.user-info {
  display: grid;
  grid-template-columns: 15% 1fr;
  height: 100px;
  max-width: 935px;
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info-container .inline-block {
  display: inline-block;
}

.info-container * {
  flex-basis: 30px;
}

.like-collection-count-container {
  display: flex;
  justify-content: flex-start;
}

.like-collection-count-container li {
  flex-basis: 100px;
}
