.image-buttons-alt {
  position: relative;
  background-color: var(--color-gray-3);
  width: 100%;
}

.image-buttons-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.relative {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  display: block;
}

.image:hover {
  opacity: 80%;
}

.relative .buttons-container {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.image:hover + .buttons-container,
.image:hover ~ .likes-container,
.buttons-container:hover {
  display: flex;
}

.login-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.relative .likes-container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  color: #c92a2a;
}

.image:hover ~ .likes-container {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.likes-container-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}
