.image-list {
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  grid-column-gap: var(--column-gutter);
}

.image-list-column {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  row-gap: var(--row-gutter);
}

/* img {
  height: 100%;
  width: 100%;
} */
