:root {
  --grid-container-inline-padding: 20px;
}

:root {
  --color-cyan-9: #0b7285;
  --color-cyan-8: #0c8599;
  --color-cyan-7: #1098ad;
  --color-cyan-6: #15aabf;
  --color-cyan-5: #22b8cf;
  --color-cyan-4: #3bc9db;
  --color-cyan-3: #66d9e8;
  --color-cyan-2: #99e9f2;
}

:root {
  --color-gray-9-opacity-40: #21252966;
  --color-gray-9: #212529;
  --color-gray-8: #343a40;
  --color-gray-7: #495057;
  --color-gray-6: #868e96;
  --color-gray-5-opacity-60: #adb5bdaa;
  --color-gray-5: #adb5bd;
  --color-gray-4: #ced4da;
  --color-gray-3: #dee2e6;
  --color-gray-2: #e9ecef;
  --color-gray-0: #f8f9fa;
}

:root {
  --space-1: 4px;
  --space-2: 12px;
  --space-3: 36px;
  --space-4: 72px;
}

:root {
  --width-1: 24rem;
  --width-2: 32rem;
  --width-3: 48rem;
  --width-4: 64rem;
}

@media screen and (max-width: 768px) {
  :root {
    --columns: 1;
    --column-gutter: 24px;
    --row-gutter: 50px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --columns: 2;
    --column-gutter: 24px;
    --row-gutter: 24px;
  }

  .image-list-container {
    margin-inline: auto;
    padding-inline: 20px;
    max-width: 1320px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --columns: 3;
    --column-gutter: 24px;
    --row-gutter: 24px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--color-gray-9);
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue,
    Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}

div {
  display: block;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border-radius: 5px;
  width: 6rem;
  height: 2rem;
  font-weight: bold;
  background-color: var(--color-gray-0);
}

a {
  display: inline-block;
  color: var(--color-gray-5);
  text-decoration: none;
}

a:hover {
  color: var(--color-gray-9);
}

a:active {
  border-bottom: 2px solid var(--color-gray-9);
}

.button:hover a {
  color: var(--color-gray-9);
}

.button a:active {
  border: none;
}

.hide,
.none {
  display: none;
}

.clearfix::after {
  visibility: hidden;
  clear: both;
  content: " ";
  display: table;
  height: 0;
}

.header {
  height: 3rem;
  position: relative;
}

.header::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-7);
  transform: scaleY(0.2);
}

/* 四边设置0.5px边距 */
/* .header::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  border: 1px solid red;
  transform-origin: top left;
  transform: scale(0.5);
} */

.nav {
  padding: 0.4rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  font-size: 1.7rem;
  display: flex;
}

.navigator {
  display: flex;
  height: 3rem;
  align-items: flex-end;
  justify-content: flex-start;
  column-gap: var(--space-2);
}

.navigator a {
  display: inline-block;
  height: 2.25rem;
}

.banner-image-container {
  position: relative;
}

.banner-image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.overlay-banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20rem;
  display: flex;
}

.overlay-content {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--color-gray-0);
  opacity: 100%;
}

button[type="primary"] {
  border: none;
}

button[type="secondary"] {
  border: 2px solid var(--color-gray-6);
  color: var(--color-gray-6);
}

button[type="secondary"]:hover,
button[type="primary"]:hover,
button[type="success"]:hover,
button[type="danger"]:hover,
button[type="warning"]:hover {
  border: 2px solid var(--color-gray-9);
  color: var(--color-gray-9);
}

button[type="success"] {
  border: 2px solid var(--color-cyan-9);
  color: var(--color-cyan-9);
}

button[type="warning"] {
  border: 2px solid #fcc419;
  color: #fcc419;
}

button[type="danger"] {
  border: 2px solid #e03131;
  color: #e03131;
}

/* 原生CSS做不到outline效果 */
/* button[decoration~="outline"] {
  background-color: --color-gray-0;
} */

button[decoration~="rounded"] {
  border-radius: 1000px;
}

.form {
  display: grid;
  grid-template-columns: 2rem 1fr;
  width: 20rem;
  height: 2rem;
  background-color: var(--color-gray-2);
  border-radius: 1000px;
}

.hint-container {
  width: 100%;
  z-index: 1;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  background-color: var(--color-gray-0);
  border-radius: 5px;
  border: 1px solid var(--color-gray-5);
  gap: 0.5rem;
}

.hint-item {
  background-color: inherit;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hint-item:hover {
  cursor: pointer;
}

.form input {
  border: none;
  width: 100%;
  background-color: initial;
}

.form input:focus {
  outline: none;
}

.form button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: initial;
  border: none;
  width: 2rem;
}

.form-active {
  background-color: var(--color-gray-0);
}

.login-container {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.panel {
  width: calc(var(--width-1) * 0.9);
  height: calc(var(--width-1) * 1.1);
  /* border: solid 1px var(--color-gray-9) ; */
  box-shadow: 0 0 5px var(--color-gray-6);
  background-color: var(--color-gray-0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.login-input {
  width: calc(var(--width-1) * 0.5);
  height: calc(var(--width-1) * 0.08);
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px var(--color-gray-5);
  margin-bottom: 1rem;
}

.login-input:focus {
  outline: none;
  box-shadow: 0 0 5px var(--color-gray-6);
}

.justify-center {
  display: flex;
  justify-content: center;
}

.password-input:focus::after {
  content: "限制8到20位数字、字母、_和.";
}

.invalid-message {
  color: red;
  max-width: calc(var(--width-1) * 0.5);
  margin-top: -1rem;
}

.inline--block {
  display: inline-block;
}

.mb-1 {
  margin-bottom: 1rem;
}

.liked {
  color: #e03131;
}

.added {
  color: #ffd43b;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: var(--color-gray-5-opacity-60);
}
.modal-background:hover {
  cursor: zoom-out;
}

.search-bar-content {
  display: flex;
}
